/* @media all and (min-width:800px){ */
    p {
        padding: 10px;
    }
    
    li {
        text-align: center;
    }
    
    .bioText {
        max-width: 840px;
        -webkit-animation: slideIn .5s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: slideIn .5s; /* Firefox < 16 */
        -ms-animation: slideIn .5s; /* Internet Explorer */
        -o-animation: slideIn .5s; /* Opera < 12.1 */
        animation: slideIn .5s;
        animation-iteration-count: 1;
    }

    .bioButtons {
        display: flex;
        overflow: hidden;
    }
    
    .bioButtons ul {
        list-style-type: none;
        display: flex;
        flex-flow: row wrap;
    }
    
    .bioButtons a {
        display: flex;
        margin: 15px;
        height: 90px;
        width: 90px;
        border: 3px solid var(--accent);
        border-radius: 50%;
        background-color:var(--secondary);
        text-decoration: none;
        justify-content: center;
        align-items: center;
        -webkit-transition: all .5s; /* Safari */
        transition: all .5s,;
    }
    
    .bioButtons a:hover{
        height: 105px;
        width: 105px;
    }
    
    #linkOne {
        -webkit-animation: slideIn .5s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: slideIn 1s; /* Firefox < 16 */
        -ms-animation: slideIn 1s; /* Internet Explorer */
        -o-animation: slideIn 1s; /* Opera < 12.1 */
        animation: slideIn .4s;
        animation-iteration-count: 1;
    }
    
    #linkTwo {
        -webkit-animation: slideIn .8s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: slideIn 1.2s; /* Firefox < 16 */
        -ms-animation: slideIn 1.2s; /* Internet Explorer */
        -o-animation: slideIn 1.2s; /* Opera < 12.1 */
        animation: slideIn .6s;
        animation-iteration-count: 1;
    }
    
    #linkThree {
        -webkit-animation: slideIn 1.2s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: slideIn 1.4s; /* Firefox < 16 */
        -ms-animation: slideIn 1.4s; /* Internet Explorer */
        -o-animation: slideIn 1.4s; /* Opera < 12.1 */
        animation: slideIn .8s;
        animation-iteration-count: 1;
    }
    
    @keyframes slideIn {
        0% {margin-top: 300px; opacity: 0}
        /* 50% {opacity: 0} */
        80% {margin-top: -16px}
        100% {margin-top: 0;}
     }
     
     /* Firefox < 16 */
     @-moz-keyframes slideIn {
        0% {margin-left: 300px; opacity: 0}
        50% {opacity: 0}
        80% {margin-left: -30px}
        100% {margin-left: 0;}
     }
     
     /* Safari, Chrome and Opera > 12.1 */
     @-webkit-keyframes slideIn {
        0% {margin-left: 300px; opacity: 0}
        50% {opacity: 0}
        80% {margin-left: -30px}
        100% {margin-left: 0;}
     }
     
     /* Internet Explorer */
     @-ms-keyframes slideIn {
        0% {margin-left: 300px; opacity: 0}
        50% {opacity: 0}
        80% {margin-left: -30px}
        100% {margin-left: 0;}
     }
     
     /* Opera < 12.1 */
     @-o-keyframes slideIn {
        0% {margin-left: 300px; opacity: 0}
        50% {opacity: 0}
        80% {margin-left: -30px}
        100% {margin-left: 0;}
     }

/* } */

/* Phones */
@media all and (max-width:480px){
    p {
        padding: 10px;
        margin-bottom: 5px;
    }
    
    li {
        text-align: center;
    }
    
    .bioText {
        max-width: 840px;
        -webkit-animation: slideIn .5s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: slideIn .5s; /* Firefox < 16 */
        -ms-animation: slideIn .5s; /* Internet Explorer */
        -o-animation: slideIn .5s; /* Opera < 12.1 */
        animation: slideIn .5s;
        animation-iteration-count: 1;
    }

    .bioButtons {
        display: flex;
        overflow: hidden;
        justify-content: center;
    }
    
    .bioButtons ul {
        list-style-type: none;
        display: flex;
        flex-flow: column wrap;
        margin: 0;
    }
    
    .bioButtons a {
        display: flex;
        margin: 0;
        height: 80px;
        width: 80px;
        border: 3px solid var(--accent);
        border-radius: 50%;
        background-color:var(--secondary);
        text-decoration: none;
        justify-content: center;
        align-items: center;
        -webkit-transition: all .5s; /* Safari */
        transition: all .5s,;
        z-index: 999;
    }
    
    .bioButtons a:hover{
        height: 105px;
        width: 105px;
    }
    
    #linkOne {
        -webkit-animation: slideIn .5s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: slideIn .5s; /* Firefox < 16 */
        -ms-animation: slideIn .5s; /* Internet Explorer */
        -o-animation: slideIn .5s; /* Opera < 12.1 */
        animation: slideIn .5s;
        animation-iteration-count: 1;
    }
    
    #linkTwo {
        -webkit-animation: slideIn .8s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: slideIn .8s; /* Firefox < 16 */
        -ms-animation: slideIn .8s; /* Internet Explorer */
        -o-animation: slideIn .8s; /* Opera < 12.1 */
        animation: slideIn .8s;
        animation-iteration-count: 1;
    }
    
    #linkThree {
        -webkit-animation: slideIn 1s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: slideIn 1s; /* Firefox < 16 */
        -ms-animation: slideIn 1s; /* Internet Explorer */
        -o-animation: slideIn 1s; /* Opera < 12.1 */
        animation: slideIn 1s;
        animation-iteration-count: 1;
    }
    
    @keyframes slideIn {
        0% {margin-top: 200px; opacity: 0}
        60% {margin-top: -12px}
        100% {margin-top: 0px;}
     }
     
     /* Firefox < 16 */
     @-moz-keyframes slideIn {
        0% {margin-top: 200px; opacity: 0}
        60% {margin-top: -12px}
        100% {margin-top: 0;}
     }
     
     /* Safari, Chrome and Opera > 12.1 */
     @-webkit-keyframes slideIn {
        0% {margin-top: 200px; opacity: 0}
        60% {margin-top: -12px}
        100% {margin-top: 0;}
     }
     
     /* Internet Explorer */
     @-ms-keyframes slideIn {
        0% {margin-top: 200px; opacity: 0}
        60% {margin-top: -12px}
        100% {margin-top: 0;}
     }
     
     /* Opera < 12.1 */
     @-o-keyframes slideIn {
        0% {margin-top: 200px; opacity: 0}
        60% {margin-top: -12px}
        100% {margin-top: 0;}
     }
}

@media all and (max-height:690px){
    .bioButtons a {
        height: 80px;
        width: 80px;
    }

    .bioButtons {
        margin-bottom: 40px;
    }
}