

  /* @media all and (min-width: 800px) { */
    .intro {
      /* display: flex; */
      letter-spacing: -1px;
      margin: auto;
      text-decoration: none;
      /* padding:0 0 0 250px; */
      justify-content: center;
      overflow: hidden;
    }
    
    /*INTRO*/
    .introText {
      color: rgb(255, 255, 255);
    }
    /*AUTO TYPE ANIMATION*/
    .introText p {
      color: #0c0c0c; 
      font-family: 'Teko', sans-serif;
      font-weight: 900;
      font-size: 3.5em;
      margin: 10px 0 0 10px;
      white-space: nowrap;
      overflow: hidden;
      width: 12em;
      padding: 20px 0 20px 0;
      animation: type 3s steps(50, end);
      /* text-shadow: 0 0 4px rgb(80, 80, 80), 0 0 2px rgba(2, 2, 2, 0.719);  */
      }
      
      .introText > p:nth-child(2){
        animation: type2 5s steps(60, end);
      }

      /* .introText > p:nth-child(3){
        animation: type2 6s steps(60, end);
      } */
      /* .introText > p:nth-child(4){
        animation: type2 4.1s steps(60, end);
      }
      .introText > p:nth-child(5){
        animation: type2 7.2s steps(60, end);
      }
      .introText > p:nth-child(6){
        animation: type2 14s steps(60, end);
      } */

      .introText p a{
        color: #00fd76;
        text-decoration: none;
      }
      
      .introText span{
        animation: blink 1s infinite;
      }
      
      @keyframes type{ 
        from { width: 0; } 
      } 
      
      @keyframes type2{
        0%{width: 0;}
        50%{width: 0;}
        100%{ width: 100; } 
      } 
      
      @keyframes blink{
        to{opacity: .0;}
    
      }
      
      ::selection{
        background: black;
      }
    /*END AUTO TYPE ANIMATION*/
  /* } */

  /* Phones */
  @media all and (max-width: 580px) {
    .intro {
      margin: auto;
      text-decoration: none;
      justify-content: center;
      overflow: hidden;
      height: 80px;
    }
    
    /*INTRO*/
    .introText {
      color: rgb(255, 255, 255);
    }
    /*AUTO TYPE ANIMATION*/
    .introText p {
      color: #0c0c0c; 
      font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
      font-weight: 900;
      font-size: 2.8em;
      margin: 10px 0 0 10px;
      white-space: nowrap;
      overflow: hidden;
      width: 12em;
      padding: 20px 0 20px 0;
      animation: type 3s steps(50, end);
      /* text-shadow: 0 0 4px rgb(80, 80, 80), 0 0 2px rgba(2, 2, 2, 0.719);  */
      }
      
      .introText > p:nth-child(2){
        animation: type2 5s steps(60, end);
      }

      /* .introText > p:nth-child(3){
        animation: type2 6s steps(60, end);
      } */
      /* .introText > p:nth-child(4){
        animation: type2 4.1s steps(60, end);
      }
      .introText > p:nth-child(5){
        animation: type2 7.2s steps(60, end);
      }
      .introText > p:nth-child(6){
        animation: type2 14s steps(60, end);
      } */

      .introText p a{
        color: #00fd76;
        text-decoration: none;
      }
      
      .introText span{
        animation: blink 1s infinite;
      }
      
      @keyframes type{ 
        from { width: 0; } 
      } 
      
      @keyframes type2{
        0%{width: 0;}
        50%{width: 0;}
        100%{ width: 100; } 
      } 
      
      @keyframes blink{
        to{opacity: .0;}
    
      }
      
      ::selection{
        background: black;
      }
    /*END AUTO TYPE ANIMATION*/
  }

  @media all and (max-width: 410px) {
    .intro {
      /* display: flex; */
      margin: auto;
      text-decoration: none;
      /* padding:0 0 0 250px; */
      justify-content: center;
      overflow: hidden;
    }
    
    /*INTRO*/
    .introText {
      color: rgb(255, 255, 255);
    }
    /*AUTO TYPE ANIMATION*/
    .introText p {
      color: #0c0c0c; 
      font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
      font-weight: 900;
      font-size: 2.2em;
      margin: 10px 0 0 10px;
      white-space: nowrap;
      overflow: hidden;
      width: 12em;
      padding: 20px 0 0 0;
      animation: type 3s steps(50, end);
      /* text-shadow: 0 0 4px rgb(80, 80, 80), 0 0 2px rgba(2, 2, 2, 0.719);  */
      }
      
      .introText > p:nth-child(2){
        animation: type2 5s steps(60, end);
      }

      /* .introText > p:nth-child(3){
        animation: type2 6s steps(60, end);
      } */
      /* .introText > p:nth-child(4){
        animation: type2 4.1s steps(60, end);
      }
      .introText > p:nth-child(5){
        animation: type2 7.2s steps(60, end);
      }
      .introText > p:nth-child(6){
        animation: type2 14s steps(60, end);
      } */

      .introText p a{
        color: #00fd76;
        text-decoration: none;
      }
      
      .introText span{
        animation: blink 1s infinite;
      }
      
      @keyframes type{ 
        from { width: 0; } 
      } 
      
      @keyframes type2{
        0%{width: 0;}
        50%{width: 0;}
        100%{ width: 100; } 
      } 
      
      @keyframes blink{
        to{opacity: .0;}
    
      }
      
      ::selection{
        background: black;
      }
    /*END AUTO TYPE ANIMATION*/
  }

  @media all and (max-width: 330px) {
    .intro {
      /* display: flex; */
      margin: auto;
      text-decoration: none;
      /* padding:0 0 0 250px; */
      justify-content: center;
      overflow: hidden;
    }
    
    /*INTRO*/
    .introText {
      color: rgb(255, 255, 255);
    }
    /*AUTO TYPE ANIMATION*/
    .introText p {
      color: #0c0c0c; 
      font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
      font-weight: 900;
      font-size: 2em;
      margin: 10px 0 0 10px;
      white-space: nowrap;
      overflow: hidden;
      width: 12em;
      padding: 20px 0 0 0;
      animation: type 3s steps(50, end);
      /* text-shadow: 0 0 4px rgb(80, 80, 80), 0 0 2px rgba(2, 2, 2, 0.719);  */
      }
      
      .introText > p:nth-child(2){
        animation: type2 5s steps(60, end);
      }

      /* .introText > p:nth-child(3){
        animation: type2 6s steps(60, end);
      } */
      /* .introText > p:nth-child(4){
        animation: type2 4.1s steps(60, end);
      }
      .introText > p:nth-child(5){
        animation: type2 7.2s steps(60, end);
      }
      .introText > p:nth-child(6){
        animation: type2 14s steps(60, end);
      } */

      .introText p a{
        color: #00fd76;
        text-decoration: none;
      }
      
      .introText span{
        animation: blink 1s infinite;
      }
      
      @keyframes type{ 
        from { width: 0; } 
      } 
      
      @keyframes type2{
        0%{width: 0;}
        50%{width: 0;}
        100%{ width: 100; } 
      } 
      
      @keyframes blink{
        to{opacity: .0;}
    
      }
      
      ::selection{
        background: black;
      }
    /*END AUTO TYPE ANIMATION*/
  }

  @media all and (max-width: 300px) {
    .intro {
      /* display: flex; */
      margin: auto;
      text-decoration: none;
      /* padding:0 0 0 250px; */
      justify-content: center;
      overflow: hidden;
    }

    .introText p {
      color: #0c0c0c; 
      font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
      font-weight: 900;
      font-size: 1.7em;
      margin: 10px 0 0 10px;
      white-space: nowrap;
      overflow: hidden;
      width: 12em;
      padding: 20px 0 0 0;
      animation: type 3s steps(50, end);
      /* text-shadow: 0 0 4px rgb(80, 80, 80), 0 0 2px rgba(2, 2, 2, 0.719);  */
      }
  }