@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500|Teko&display=swap');

html, body {
    background-color: var(--primary);
    /* screen scrolly no no */
    overflow: auto;
}

* {
    color: var(--text);
    font-family: 'Montserrat', sans-serif;   
     /* --primary: #5bc0be;
    --secondary: #a3c4bc;
    --accent: #2afc98;
    --bg: #5bc0be;
    --text: #eaf9fa; */
     --primary: #40798c; /*#119da4 #5eb1bf maybe these ones  */
    --secondary: #0d1f2d;
    --accent:#20fc8f;
    --text: #ede6e3;

    /* another scheme? */
    --primary2: #5bc0be;
    --secondary2: #0d1f2d;
    --accent2: #2afc98;
    --bg2: #476a6f;
}
    /* possible scheme?
    --primary:#272d2d;
    --secondary:#f3efe0;
    --accent:#3cfa75;
    --text: ; */

    

@media all and (min-width:800px) {
    main {
        margin-left: 10vw;
    }
}
