@import url('https://fonts.googleapis.com/css?family=Lexend+Exa&display=swap');
@import url('https://fonts.googleapis.com/css?family=Teko&display=swap');


/* PHONES */
/* @media all and (max-width: 535px) { */
    
    .top {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Lexend Exa', sans-serif;
    }

    .avatar {
        margin-top: 10px;
        height: 120px;
        width: 120px;
        border: 4px var(--accent) solid;
        border-radius: 50%;
        margin-bottom: 0;
        display: none;
    }

    .topName {
        font-size: 1.2em;
        letter-spacing: -2px;
        margin: 0;
        padding-bottom: 8px;
        display: none;
        font-family: 'Lexend Exa', sans-serif;
    }

    .topTitle {
        font-size: 1.1em;
        margin-top: 0;
        padding-top: 0;
        font-weight: lighter;
        color: var(--text);
        display: none;
        font-family: 'Teko', sans-serif;
    }

    .navbar {
        background-color: var(--secondary);
        height: 60px;
        width: 100%;
        position: fixed;
        bottom: 0;
        z-index: 99;
    }
    
    .navbar ul {
        display: flex;
        flex-flow: row nowrap;
        list-style-type: none;
        height: 100%;
        justify-content: space-evenly;
        align-items: center;
        margin: auto;
    }

    .navbar li {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 0 10px 0 10px;
        background-color: var(--secondary);
        /* background-color: #001a33; */
        /* border-radius: 10px; */
        /* border: 2px solid #00284e; */
        /* border-right: 1px solid #0077ff48;
        border-left: 1px solid #0077ff48; */
        margin: 0;
        -webkit-tap-highlight-color: red;
    }

    /* .navbar li:hover {
        background-color: var(--text);
    } */

    .break {
        display: flex;
        padding: 0;
        margin: 0;
        border: 0;
    }

    .navIcons {
        display: flex;
    }

    .navText {
        display: none;
    }
/* } */

/* Tablets */
@media all and (min-width: 536px) {

    .top {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Lexend Exa', sans-serif;

    }

    .avatar {
        margin-top: 10px;
        height: 120px;
        width: 120px;
        border: 4px var(--accent) solid;
        border-radius: 50%;
        margin-bottom: 0;
        display: none;
    }

    .topName {
        display: none;
    }

    .topTitle {
        margin-top: 0;
        padding-top: 0;
        font-weight: lighter;
        display: none;
    }

    .navbar {
        background-color: var(--secondary);
        height: 100px;
        width: 100%;
        position: fixed;
        bottom: 0;
        z-index: 99;
    }
    
    .navbar ul {
        display: flex;
        flex-flow: row nowrap;
        list-style-type: none;
        height: 100%;
        justify-content: space-evenly;
        align-items: center;
        margin: auto;
    }

    .navbar ul a {
        text-decoration: none;
        font-family: 'Lexend Exa', sans-serif;
        display: block;
        color: var(--text);
    }

    .navbar li {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 0 10px 0 10px;
        background-color: var(--secondary);
        /* background-color: #001a33; */
        /* border-radius: 10px; */
        /* border: 2px solid #00284e; */
        /* border-right: 1px solid #0077ff48;
        border-left: 1px solid #0077ff48; */
        margin: 0;
        -webkit-tap-highlight-color: red;
    }

    .break {
        display: flex;
        padding: 0;
        margin: 0;
        border: 0;
    }

    .navIcons {
        display: flex;
        margin: auto;
    }

    .navText {
        display: block;
        padding-bottom: 0;
    }

    .navbar li a:hover {
        /* background-color: rgba(0, 0, 0, 0.219); */
        /* color: #d4d4d4; */
        color: var(--primary);
    }

}


/* Laptops */
@media all and (min-width: 801px) {
    .top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Lexend Exa', sans-serif;
    }
    
    .avatar {
        margin-top: 10px;
        height: 120px;
        width: 120px;
        border: 4px var(--accent) solid;
        border-radius: 50%;
        margin-bottom: 0;
        display: none;
    }

    .logo {
        display: block;
        font-family: 'Teko', sans-serif;
        font-size: 110px;
        margin:30px 0 0 0;
        letter-spacing: -5px;
        line-height: 80%; 
        color: var(--text);
    }

    .topName {
        display: none;
    }

    .topTitle {
        display: none;
        margin-top: 0;
        padding: 0;
        font-weight: lighter;
    }

    .topTitleSmall {
        display: block;
        font-size: 1.2em;
        margin-top: 0;
        padding: 0;
        font-weight: lighter;
        color: var(--text);
        font-family: 'Teko', sans-serif;
    }

    .navbar {
        background-color: var(--secondary);
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 150px;
        top: 0;
        position: fixed;
        z-index: 99;
    }

    .navbar ul {
        display: flex;
        list-style-type: none;
        flex-flow: column nowrap;
        justify-content: unset;
        align-items: unset;
        width: 89%;
    }
    
    .navbar ul a {
        text-decoration: none;
        font-family: 'Lexend Exa', sans-serif;
        display: block;
        color: var(--text);
        width: 100%;
    }

    .navbar li {
        display: flex;
        padding: 0;
        justify-content: unset;
        align-items: unset;
        background-color: var(--secondary);
        width:100%;
        height: 50px;
        margin: 5px;
        width: 142px;
        border-radius: 10px;
    }

    .navbar li:hover {
        background-color: var(--text);
    }

    .navIcons {
        display: none;
        margin: auto;
    }
    
    .navbar li a:hover {
        /* background-color: rgba(0, 0, 0, 0.219); */
        /* color: #d4d4d4; */
        color: var(--primary);
    }

    .navIcons {
        display: none;
    }

    .navText {
        display: block;
    }
}

/* Desktop */
@media all and (min-width: 1200px) {
    
    .top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'Lexend Exa', sans-serif;
    }

    .avatar {
        display: block;
        margin-top: 10px;
        height: 120px;
        width: 120px;
        border: 4px var(--accent) solid;
        border-radius: 50%;
        margin-bottom: 0;
    }

    .logo {
        display: none;
        font-family: 'Teko', sans-serif;
        font-size: 110px;
        margin:10px 0 0 0;
        letter-spacing: -5px;  
    }

    .topName {
        display: block;
    }

    .topTitle {
        display: block;
        margin-top: 0;
        padding-top: 0;
    }
    
    .topTitleSmall {
        display: none;
    }

    .navbar {
        background-color: var(--secondary);
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 200px;
        top: 0;
        position: fixed;
        z-index: 99;
    }
    
    .navbar ul {
        display: flex;
        list-style-type: none;
        flex-flow: column nowrap;
        justify-content: unset;
        align-items: unset;
        width: 89%;
    }
    
    .navbar ul a {
        text-decoration: none;
        font-family: 'Lexend Exa', sans-serif;
        display: block;
        color: var(--text);
        width: 100%;
    }

    .navbar li {
        display: flex;
        padding: 0;
        justify-content: unset;
        align-items: unset;
        background-color: var(--secondary);
        width:100%;
        height: 50px;
        margin: 5px;
        width: 190px;
        border-radius: 10px;
    }

    .navbar li:hover {
        background-color: var(--text);
    }

    .navIcons {
        display: none;
        margin: auto;
    }
    
    .navbar li a:hover {
        /* background-color: rgba(0, 0, 0, 0.219); */
        /* color: #d4d4d4; */
        color: var(--primary);
    }

    .navIcons {
        display: none;
    }

    .navText {
        display: block;
    }

}