.container {
    padding-bottom: 40px;
}

.row {
    display: flex;
    flex-flow: row wrap;
    background-color: #254259;
    border-radius: 10px;
    margin-bottom: 30px;
    max-width: 600px;
    overflow: hidden;
}

.rowTitleDiv {
    display: flex;
}

.rowTitle {
    --shadow: var(--secondary);
    --inner: #254259;
    /* --inner: #439493; */
    /* --shadow:#59dbd9; */
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -3px;
    line-height: normal;
    color: var(--inner);
    text-shadow:
    /* -1px -1px 0 var(--shadow),
    1px -1px 0 var(--shadow),
    -1px 1px 0 var(--shadow),
    1px 1px 0 var(--shadow); */
}

.skill {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #469694; */
    cursor: pointer;
    padding: 12px;
    border-radius: 50%;
    max-height: 80px;
    max-width: 80px;
    margin: 8px;
    overflow: hidden;
    -webkit-transition: all .2s; /* Safari */
    transition: all .2s,;
    box-shadow: 5px 3px rgba(0, 0, 0, 0.116);
    -webkit-animation: comeIn .8s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: comeIn .8s; /* Firefox < 16 */
    -ms-animation: comeIn .8s; /* Internet Explorer */
    -o-animation: comeIn .8s; /* Opera < 12.1 */
    animation: comeIn .8s;
}

.skill:hover {
    /* max-height: 90px;
    max-width: 90px; */
    margin-top: 12px;
    /* transform: skew(-0.06turn, 18deg); */
}
/* .skill:hover .name {
    display: flex;
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
    -ms-animation: fadein 1s; 
    -o-animation: fadein 1s; 
    animation: fadein 1s;
} */

/* .skill:hover .img {
    display: none;
} */

.nameDiv {
    display: none;
    height: 70px;
    width: 70px;
    justify-content: center;
    align-items: center; 
    background-color: black;
    border-radius: 50%;
}

.nameDiv:hover {
    height: 90px;
    width: 90px;
}

.name {
    font-size: 20px;
    width: 100%;
    align-self: center;
    color: black;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
    margin: 7px;
}

.img {
    display: flex;
    flex: 1;
    align-self: center;
    margin: 0;
    min-height: 70px;
    min-width: 70px;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
}

/* fade in animation */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Come in */
@keyframes comeIn {
    0% {margin-top: 400px}
    50% {margin-top: 0px}
    100% {margin-top: 8px;}
}

/* Firefox < 16 */
@-moz-keyframes comeIn {
    0% {margin-top: 100px}
    50% {margin-top: 10px}
    80% {margin-top: 25px}
    100% {margin-top: 8px;}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes comeIn {
    0% {margin-left: 100px}
    50% {margin-left: 10px}
    80% {margin-left: 25px}
    100% {margin-left: 8px;}
}

/* Internet Explorer */
@-ms-keyframes comeIn {
    0% {margin-left: 100px}
    50% {margin-left: 10px}
    80% {margin-left: 25px}
    100% {margin-left: 8px;}
}

/* Opera < 12.1 */
@-o-keyframes comeIn {
    0% {margin-left: 100px}
    50% {margin-left: 10px}
    80% {margin-left: 25px}
    100% {margin-left: 8px;}
}

/* tablet */
@media all and (max-width: 800px) {
    .container {
        margin-bottom: 100px;
    }
}


/* phones */
@media all and (max-width: 480px) {

    .skill {
        -webkit-animation: comeIn .8s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: comeIn .8s; /* Firefox < 16 */
        -ms-animation: comeIn .8s; /* Internet Explorer */
        -o-animation: comeIn .8s; /* Opera < 12.1 */
        animation: comeIn .8s;
    }

    /* Come in */
    @keyframes comeIn {
        0% {margin-top: 400px}
        50% {margin-top: 0px}
        100% {margin-top: 8px;}
    }

    /* Firefox < 16 */
    @-moz-keyframes comeIn {
        0% {margin-top: 100px}
        50% {margin-top: 10px}
        80% {margin-top: 25px}
        100% {margin-top: 8px;}
    }

    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes comeIn {
        0% {margin-left: 100px}
        50% {margin-left: 10px}
        80% {margin-left: 25px}
        100% {margin-left: 8px;}
    }

    /* Internet Explorer */
    @-ms-keyframes comeIn {
        0% {margin-left: 100px}
        50% {margin-left: 10px}
        80% {margin-left: 25px}
        100% {margin-left: 8px;}
    }

    /* Opera < 12.1 */
    @-o-keyframes comeIn {
        0% {margin-left: 100px}
        50% {margin-left: 10px}
        80% {margin-left: 25px}
        100% {margin-left: 8px;}
    }

}


/* small phones */
@media all and (max-width: 324px) {
    .row {
        justify-content: center;
    }
}